* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

#service-container {
    margin: 25px;
    width: 100%;
    display: grid;    
    grid-template-columns: auto auto;
}

.service-boxes {
    height: 300px;
    width: 80%;
    margin: 20px;
    background-color: aqua;
    padding: 5px;
    text-align: justify;
}