* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;    
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;    
    width: 100%;
    height: 4rem;
    background-color: tomato;
}

.nav-button {
    width: 4rem;
    height: 4rem;    
    flex-direction: column;
    position: relative;
}

#burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: orangered;    
}

nav #menu-links {    
    display: none;   
    position: fixed;
    right: 0;
    top: 4rem;
    width: 10rem;
    height: 20rem;
    grid-template-columns: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem 0 1rem 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: large;
}

nav a:hover {
    color: orange;
}



.main-wrapper {
    width: 100%;    
}

.hero-section {
    width: 100%;
    height: 50vh;
    background-color: crimson;
}

.hero-image{
    background-image:url("./media/img/img-hero.jpg");
    background-size: cover;
    background-color: aqua;
    width: 100%;
}

#service-container {
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    display: grid;    
    grid-template-columns: auto auto;    
}

.service-boxes {
    border-radius: 1rem;
    height: 300px;
    width: 20rem;
    margin: 2rem;
    background-color: aqua;
    padding: 1rem;
    text-align: justify;
}

#portfolio-section {
    width: 100%;
    height: 50vh;
    background-color: darkgreen;
}

.about-section {
    width: 100%;
    height: 50vh;
    background-color: teal;
}

#card-container {
    background-color:yellowgreen;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    display: grid;    
    grid-template-columns: auto auto;    
}

.card {
    background-color: white;
    height: 10rem;
    width: 10rem;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

#contact-section {
    width: 100%;
    height: 50vh;
    background-color:thistle;
}

#image-main {
    display: grid;
    width: 100%;
    height: 50vh;       
}
