* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    width: 100%;
    height: 4rem;
    background-color: rgb(20, 32, 46);
    z-index: 10;
}

nav h1 {
    padding: 1rem;
    color: orange;
}

.nav-button {
    width: 4rem;
    height: 4rem;
    flex-direction: column;
    position: relative;
}

button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: rgb(36, 53, 71);
    color:  rgb(255, 209, 123);
    justify-self: flex-end;
}

button:hover {
    background-color: rgb(138, 161, 187);
}

#burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: rgb(36, 53, 71);
}

nav #menu-links {
    display: none;
    position: fixed;
    right: 0;
    top: 4rem;
    width: 10rem;
    height: 20rem;
    grid-template-columns: auto;
    background-color: rgb(138, 161, 187);
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem 0 1rem 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

a:hover {
    color: rgb(255, 209, 123);
    cursor: pointer;
}



.main-wrapper {
    width: 100%;
}

.hero-section {
    width: 100%;
    height:100vh;
    background-color: crimson;

}

#hero-container{
    background-image: url("../media/img/covid_office.png");
    background-blend-mode: soft-light;lighten;
    background-size: cover;
    background-color: rgb(140, 106, 67);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
   height: 100vh;

}

#hero-message {
    height: 100vh;
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
   color: azure;
}

#service-section {
    width: 100%;
    height: 48rem;
    background-color: green;
}

#service-container {
    background-color: rgb(36, 53, 71);
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    height: 48rem;
    display: grid;
    grid-template-columns: auto auto;
}

.service-boxes {
    border-radius: 1rem;
    height: 20rem;
    width: 20rem;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: white;
    background-blend-mode:multiply;
    text-shadow: 0px 5px 12px rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.service-boxes h2 {
    border-bottom: 2px solid orange;
    margin-bottom: 1rem;

}

.service-boxes p {
    visibility: hidden;
    height: 0;
    width: auto;
    opacity: 0;
    transition: visbility 250ms ease-in-out,
    scale 500ms ease-in-out,
    opacity 350ms ease-in-out,
    height 500ms ease-out;
}

.service-boxes:hover > p {
    visibility: visible;
    height: 10rem;
    width: auto;
    opacity: 1;
    transform: scale(90%);
}

#image-grid{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

#image-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
}

#image-grid img:hover{
    opacity: 50%;
}

#lightbox-wrapper{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close-wrapper{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.close-wrapper span{
    cursor: pointer;
}

#main-image-wrapper{
    position: relative;
    width: 70%;
    height: 60vh;
}

#main-image{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

#prev-btn, #next-btn{
    position: absolute;
    top: 40%;
    background-color: white;
    border: 1px solid orange;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#prev-btn:hover, #next-btn:hover{
    background-color: orange;
    color: white;
}

#prev-btn{
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

#next-btn{
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#thumbnail-wrapper{
    width: 70%;
    overflow-x: auto;
}

.thumbnail{
    height: 50px;
    width: 50px;
    object-fit: cover;
    cursor: pointer;
}

.thumbnail:hover{
    opacity: 50%;
}

#portfolio-section {
    width: 100%;
    background-color: rgb(36, 53, 71);
}

#image-main {
    display: grid;
    width: 100%;
    height: 50vh;
    opacity: 65%;
    object-fit: cover;
}

.about-section {
    width: 100%;
    height: 50vh;
    background-color: teal;
}

#card-container {
    background-color: rgb(36, 53, 71);
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.card {
    background-color: white;
    height: 15rem;
    width: 15rem;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-shadow: 0px 3px 5px rgba(46, 46, 46, 0.5);
    cursor: pointer;
}

.card:hover {
    transform: scale(104%);
    transition-duration: 500ms;
}

#card-modal-wrapper {
    z-index: 50;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.card-modal-header {
    display: flex;
    width: 100%;
    background-color: seashell;
    justify-content: flex-end;
    border-radius: 1rem 1rem 0 0;
    padding-right: 1rem;

}

.card-modal-body {
    background-color: seashell;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    height: 43rem;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 1rem;
}

.card-modal-body img {
    border: 1px solid black;
    margin-bottom: 2rem;
    width: 26rem;
    height: 26rem;
    border-radius: 0.5rem;
}

#card-modal-content {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 45rem;
    background-color: rgb(235, 214, 32);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 8px rgba(46, 46, 46, 0.5);
    transition: 150ms ease-in-out;
}

#card-modal-content:hover {
    transform: rotate3d(1, -1, 0.1, 5deg);
    box-shadow: 5px 10px 8px rgba(46, 46, 46, 0.6);
    transition: 250ms ease-in-out;
}

#contact-section {
    width: 100%;
    height: 35rem;
    position: relative;
    background-color: rgb(20, 32, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form button {
    width: 8rem;
    align-self: flex-end;
    font-weight: bold;
}

#contact-form input,
#contact-form textarea {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 4px;
    width: 30rem;
    margin-bottom: 1rem;
    background-color: lightblue;
}

#contact-form input:focus,
#contact-form textarea:focus {
    background-color: rgb(216, 235, 241);
}

#contact-form-container {
    width: 30rem;
    height: 20vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-container {
    display: none;
    flex-direction: column;
    position: fixed;
    top:40vh;
    left:25vw;
    width: 30rem;
    height: 20rem;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.2), 0px 0px 5px rgba(0,0,0,0.3);
}

.loading {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 16px solid lightgrey;
    border-top: 16px solid salmon;
    animation: load-spin 2s linear infinite;
}

.social-bar {
    width: 100%;
    height: 20vh;
    background-color: rgb(20, 32, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightblue;
}

.social-bar i {
    font-size: 30px;
}


@keyframes load-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}