* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

nav {
    width: 100%;
    height: 10rem;
    background-color: tomato;
}

.main-wrapper {
    width: 100%;    
}

.hero-section {
    width: 100%;
    height: 50vh;
    background-color: crimson;
}

#service-container {
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    display: grid;    
    grid-template-columns: auto auto;    
}

.service-boxes {
    border-radius: 1rem;
    height: 300px;
    width: 20rem;
    margin: 2rem;
    background-color: aqua;
    padding: 1rem;
    text-align: justify;
}

.portfolio-section {
    width: 100%;
    height: 50vh;
    background-color: darkgreen;
}

.about-section {
    width: 100%;
    height: 50vh;
    background-color: teal;
}

#card-container {
    background-color:yellowgreen;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    display: grid;    
    grid-template-columns: auto auto;    
}

.card {
    background-color: white;
    height: 10rem;
    width: 10rem;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.contact-section {
    width: 100%;
    height: 50vh;
    background-color:thistle;
}

#image-main {
    width: 20rem;
    
}